@use "../../sass/utilities/" as *;

.about-me {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  background-color: #eee;

  display: grid;
  grid-template-columns: auto 60%;
  grid-auto-rows: min-content;
  gap: 2rem;
  z-index: 2;
  margin-bottom: 5rem;

  &__user-img {
    grid-row: 1 / span 3;
    border-radius: 20%;
    object-fit: cover;
    max-inline-size: 100%;
  }

  &__header {
    font-size: 2rem;
    letter-spacing: -0.05em;
  }

  &__btn {
    width: max-content;
    margin: 2rem auto 2rem 2rem;
  }
  & .text-content {
    padding: 3rem 0 3rem 6rem;
  }
}
