@use "../../sass/utilities" as *;

.about-me {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #eee;
  display: grid;
  grid-template-columns: auto 60%;
  grid-auto-rows: min-content;
  // gap: 2rem;
  z-index: 2;
  margin-bottom: 5rem;

  p:nth-of-type(3) {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  @include respond(phone) {
    grid-template-columns: auto;
    padding: 3rem;
  }

  &__user-img {
    width: 100%;
    border-radius: 50%;
    grid-row: 1 / span 3;
    grid-column: 1 / 2;
    margin: auto;
    // object-fit: cover;
    max-inline-size: 80%;

    @include respond(phone) {
      max-inline-size: 60%;
    }

    @include respond(phone-xs) {
      max-inline-size: 50%;
    }
  }

  &__header {
    font-size: clamp(2rem, 1vw + 1rem, 2.2rem);
    letter-spacing: -0.05em;

    @include respond(phone-s) {
      font-size: clamp(1.65rem, 1vw + 1rem, 2.2rem);
      text-align: center;
    }
  }

  &__btn {
    width: max-content;
    margin: 2rem auto 2rem 2rem;

    @include respond(phone) {
      margin: 0 auto;
    }
  }
  & .text-content {
    padding: 3rem 0 3rem 6rem;
    font-size: clamp(2rem, 1vw + 1rem, 2.2rem);
    line-height: 1.5;

    @include respond(phone-s) {
      padding: 3rem;
    }
  }

  a {
    display: grid;
    justify-content: center;
    grid-row: 5/6;
    grid-column: 1/-1;
  }
}
