@use "../utilities" as *;

.container {
  max-width: 180rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: $shadow-dark;

  display: grid;
  grid-template-columns: minmax(5rem, auto) minmax(40rem, 120rem) minmax(5rem, auto);
  gap: 5rem;
}
