@use "../abstracts" as *;

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "nav nav nav"
    ". home .";
  gap: 0.2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  // box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
