/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  font: inherit;
}

/* min body height */

html,
body {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* default link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
