@use "../utilities" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  line-height: calc(1em + 0.5rem);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  // @include respond(tab-land) {
  //   font-size: 56.25%;
  // }
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(phone) {
    font-size: 55%;
  }
  @include respond(phone-xs) {
    font-size: 50%;
  }
}

html,
body {
  line-height: 1.6;
  background-color: #213f91;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt {
  overflow-wrap: break-word;
}

a {
  color: #999;
  text-decoration: none;
}
