@use "../../sass/utilities/variables" as *;

.portfolio {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  z-index: 2;
  padding: 10rem 0;

  &__card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 7rem min-content;
  }

  &__header {
    font-size: 3rem;
    text-transform: uppercase;
    text-indent: 1.5rem;
    padding: 1rem;
    letter-spacing: 1.5rem;
    grid-row: 1 / 2;
    color: #fff;
    display: flex;
    align-items: center;
    width: max-content;
    transform: translateY(50%) translateX(7%);
  }

  &__card-content {
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: $shadow-dark;
    padding: 10rem 5rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 7rem;
    justify-items: center;

    .project {
      box-shadow: $shadow-dark;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content 1fr max-content;
      gap: 3.5rem;
      overflow: hidden;

      &__img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;
      }

      &__name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 2;
        align-self: end;
        justify-self: center;
        background-color: #000;
        color: #fff;
        width: max-content;
        font-weight: 400;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding: 1.25rem;
        transform: translateY(50%);
      }

      &__text {
        grid-column: 1 / -1;
        height: 100%;
        padding: clamp(1.5rem, 2rem, 3rem);
      }

      &__icons {
        grid-column: 1 / -1;
        margin: 0 auto;

        .icon {
          height: 5rem;
          margin: 0 2rem 5rem;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            filter: brightness(0) saturate(100%) invert(16%) sepia(35%) saturate(4955%) hue-rotate(218deg)
              brightness(91%) contrast(90%);
            transition: transform 0.3s ease-in-out;
          }
        }
      }

      &__link {
        display: inline-block;
      }

      &:hover {
        transform: translateY(-2%);
        box-shadow: 0 7rem 6rem rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;

        & .project__img {
          transform: scale(1.2);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .project__name {
          color: #fff;
          background-color: $primary;
        }
      }
    }
  }

  &__btn {
    display: block;
    width: max-content;
    margin: 8rem auto 0;
  }
}
