@use "../../sass/utilities" as *;

.skills {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  z-index: 2;
  padding: 5rem 0;

  &__card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 7rem min-content;
  }

  &__header {
    font-size: 3rem;
    text-transform: uppercase;
    text-indent: 1.5rem;
    padding: 1rem;
    letter-spacing: 1.5rem;
    grid-row: 1 / 2;
    color: #fff;
    display: flex;
    align-items: center;
    width: max-content;
    transform: translateY(50%) translateX(5%);
  }

  &__card-content {
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: $shadow-dark;
    padding: 10rem 3rem 7rem;
    margin-bottom: 5rem;

    .badges-wrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    & img {
      height: 5rem;
    }
  }

  &__btn {
    display: block;
    width: max-content;
    margin: 0 auto;
  }

  &__resume {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }

    & img {
      height: 10rem;
      margin: 5rem auto 0;
    }

    &--text {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 5rem;
      transform: translateX(-4%);
    }

    &__link:hover,
    &__link:active {
      color: $primary;
      transform: scale(1.1);
      transition: 0.2s;
    }

    &:visited,
    &:link {
      color: #000;
    }
  }
}
