@use "../../sass/utilities/variables" as *;

.skills {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  z-index: 2;
  padding: 10rem 0;

  &__card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 7rem min-content;
  }

  &__header {
    font-size: 3rem;
    text-transform: uppercase;
    text-indent: 1.5rem;
    padding: 1rem;
    letter-spacing: 1.5rem;
    grid-row: 1 / 2;
    color: #fff;
    display: flex;
    align-items: center;
    width: max-content;
    transform: translateY(50%) translateX(10%);
  }

  &__card-content {
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: $shadow-dark;
    padding: 10rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & img {
      height: 5rem;

      &:nth-last-of-type(1) {
        margin-bottom: 4rem;
      }
    }
  }
}
