@use "../../sass/utilities/" as *;

.home {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  background-color: #eee;
  margin: 0 0 5rem;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: min-content;

  &__user-img {
    grid-row: 1 / span 3;
    border-radius: 20%;
    height: 30rem;
  }

  &__header {
    padding: 0 0 0 3rem;
    font-size: 2rem;
    letter-spacing: -0.05em;
  }

  &__btn {
    width: max-content;
    margin: 2rem 3rem;
  }
  & .text-content {
    padding: 3rem 0 3rem 6rem;
  }
}
