@use "../../sass/abstracts/" as *;

.home {
  grid-area: home;

  img {
    border-radius: 40%;
    margin-top: 1.562em;
    margin-right: 3em;
    height: 300px;
  }

  header {
    font-size: 2em;
    letter-spacing: -0.05em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  button {
    margin: 25px 0;
  }
}

.bar {
  width: 10px;
  background-color: $secondary;
}
