@use "./variables" as *;

.text-content {
  font-size: clamp(1.4rem, 1vw + 1.4rem, 1.8rem);
  line-height: 1.5;
}

.bar {
  width: 1rem;
  margin-right: 1rem;
  background-color: $primary;
}

.text-bg {
  background-color: #000;

  &--primary {
    background-color: $primary;
  }

  &--green {
    background-color: #0f0;
    border: 1px solid #000;
    color: #000;
  }

  &--red {
    background-color: #f00;
    border: 1px solid #000;
    color: #000;
  }
}

.mb {
  margin-bottom: 5rem;
}
