$primary: #003459;
$secondary: #00b295;
$alternate: #963484;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$font-default: "Work+Sans", sans-serif;
