@use "../../sass/utilities/variables" as *;

.contact {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  z-index: 2;
  padding: 10rem 0;
  color: #fff;

  &__card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 7rem min-content;
  }

  &__header {
    font-size: 3rem;
    text-transform: uppercase;
    text-indent: 1rem;
    padding: 1rem;
    letter-spacing: 1.5rem;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    width: max-content;
    transform: translateY(50%) translateX(6%);
    border: 1px solid #000;
    color: #000;
  }

  &__card-content {
    grid-row: 2 / 3;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: $shadow-dark;
    padding: 10rem;
  }
}
