@use "../utilities" as *;

.btn {
  &,
  &:link,
  &visited {
    color: $white;
    background-color: $primary;
    width: max-content;
    border: none;
    padding: 2.5rem 2.35rem 2.5rem 2.35rem;
    // font-size: 1.8rem;
    font-size: clamp(0.9rem, 1vw + 1rem, 2.2rem);

    text-transform: uppercase;
    letter-spacing: 0.3rem;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.65, 0, 0.076, 1);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #fff;
      background: $secondary;
      box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.2);
      transition: all 0.2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transform: scale(1.1);
    }
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  @include respond(phone) {
    // font-size: 1.2rem;
    text-align: center;
  }

  @include respond(phone-xs) {
    width: 30rem;
  }
}
