@use "../../sass/utilities" as *;

.nav {
  background-color: #000;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  color: #fff;
  font-family: $font-default;
  font-size: 1.6rem;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: minmax(5rem, auto) minmax(auto, 120rem) minmax(5rem, auto);

  &__logo {
    height: 100%;
    width: 5.8rem;
    padding: 1rem 0;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        filter: $filter;
      }
    }

    &:active,
    &:focus {
      outline: 0;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    height: 7rem;

    grid-column: 2 / 3;

    grid-template-rows: 100%;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 0 2rem;
    align-items: center;
  }

  &__link {
    width: max-content;
  }

  &__link:link,
  &__link:visited,
  &__link:active,
  .resume {
    color: inherit;
    text-transform: uppercase;
    font-size: 1.8rem;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $primary;
        transition: 0.2s;
      }
    }
  }

  .resume {
    color: #fff;
    background-color: $primary;
    padding: 1rem;
    align-self: stretch;
    display: flex;
    align-items: center;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $secondary;
        @include transition(background, 0.2s, ease-in-out);
      }
    }
  }
}
