@use "../../sass/abstracts/" as *;

nav {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  background-color: $primary;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 3.125em;
  color: #fff;
  font-family: $font-default;
  font-size: larger;

  button {
    padding: 0.25em;
  }

  .nav-cta {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .nav-items {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:nth-child(2) {
      margin: 0 3.125em;
    }
  }
}
