@use "../../sass/utilities" as *;
@use "../../sass/base" as *;

.footer {
  grid-column: 1 / -1;
  grid-row: 7 / 8;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $black;
  color: $white;
  font-size: 1.9rem;
  text-align: center;
  padding-bottom: 5rem;

  @include respond(phone) {
    margin-top: 5rem;
  }

  &__social {
    display: flex;
    svg {
      height: 4.5rem;
      width: 4.5rem;
      border: 1px solid $white;
      margin: 5rem auto;
      margin: 5rem 0.25rem;
      transition: transform 0.2s;
    }

    &--github {
      @include respond(phone) {
        filter: invert(100%);
        background: $black;
      }
      &:hover {
        filter: invert(100%);
        background: $black;
        transform: translateY(-10%);
      }
    }

    &--linkedin {
      @include respond(phone) {
        background: $linkedin;
      }
      &:hover {
        background: $linkedin;
        transform: translateY(-10%);
      }
    }
    &--facebook {
      @include respond(phone) {
        background: $facebook;
      }
      &:hover {
        background: $facebook;
        transform: translateY(-10%);
      }
    }
    &--twitter {
      @include respond(phone) {
        background: $twitter;
      }
      &:hover {
        background: $twitter;
        transform: translateY(-10%);
      }
    }
    &--youtube {
      @include respond(phone) {
        background: $youtube;
      }
      &:hover {
        background: $youtube;
        transform: translateY(-10%);
      }
    }
  }

  &__logo {
    height: 10rem;
    margin-bottom: 5rem;
  }

  &__copyright {
    color: $gray-500;
  }
}
