@use "../../sass/utilities/variables" as *;

.footer {
  grid-column: 2 / 3;
  grid-row: 7 / 8;

  color: #fff;
  font-size: 1.9rem;
  text-align: center;

  img {
    margin: 5rem auto;
  }

  small {
    color: #aaa;
  }
}
