@use "../../sass/utilities" as *;
@use "../../sass/base" as *;

.about-me {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background: $white;
  display: grid;
  grid-template-columns: auto 60%;
  grid-auto-rows: min-content;
  z-index: 2;
  padding: 10rem 3rem 7rem;
  margin-top: -5rem;

  @include respond(tab-land) {
    grid-template-columns: auto;
    padding: 3rem 0 7rem;
  }

  p:nth-of-type(3) {
    grid-row: 4/5;
    grid-column: 2/3;

    @include respond(tab-land) {
      grid-column: auto;
    }
  }

  &__user-img {
    width: 40rem;
    height: auto;
    border-radius: 50%;
    grid-row: 1 / span 4;
    grid-column: 1 / 2;
    margin: auto;
    max-inline-size: 75%;

    @include respond(tab-land) {
      grid-column: auto;
      grid-row: 1/1;
      max-inline-size: 50%;
      margin-bottom: 5rem;
    }
  }

  &__header {
    font-size: clamp(2.5rem, 1vw + 1rem, 3.3rem);
    font-weight: $font-weight-bold;
    letter-spacing: -0.05em;

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__btn {
    width: max-content;
    margin: 5rem auto 0;
    grid-column: 1/-1;

    @include respond(phone) {
      margin: 5rem auto 0;
    }
  }

  & .text-content {
    padding: 3rem 3rem 0;
    font-size: clamp(2rem, 1vw + 1rem, 1.8rem);
    line-height: 1.5;

    @include respond(phone-s) {
      padding: 3rem;
    }
  }
}
